
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Доступ к персонажам
    match /characters/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Доступ к сессиям мастера
    match /sessions/{dmId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == dmId;
    }

    // Запретить всё остальное
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
